{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <div class="form-check">
                {{form.title(class="form-check-input")}}
                {{form.title.label(class="form-check-label form-check-label-lg")}}
            </div>
        <div class="row">
                     </br>
        </div>

                    <div>
                            <input type="submit" name="add_row_1" value="Add row 1">
                    </div>
                    <div> 
                        <input type="submit" name="add_row_2" value="Add row 2">     
                    </div>
                    <div>
                        <input type="submit" name="add_row_3" value="Add row 3">
        </div>
        </form>
    </div>
{% endblock content %}